<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        button {
            margin: 5px;
        }
    </style>
</head>
<body>
    <h1>Admin Page</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="userTableBody">
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.firstname %>  <%= user.lastname %></td>
                    <td><%= user.email %></td>
                    <td><%= user.phone %></td>
                    <td><%= user.role %></td>
                    <td>
                        <button onclick="">Change Role</button>
                        <button onclick="">Delete</button>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table> 